Library/
Temp/
Logs/
ProjectSettings/
UserSettings/
obj/
Packages/
.idea/

Assembly-CShar*.*
*.sln

/.idea/.idea.city_builder_general/.idea/
/Library/
/Logs/
/Packages/
/ProjectSettings/
/UserSettings/
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/city_builder_general.sln
